<!doctype html>
<html>
    <head>
        <title>Hello AWS</title>
    </head>
    <body>
        <h1>Hello <%= name %></h1>
        <form action="/" method="post">
            <p>
                <label>Not you? Enter your name: <input name="name" value="<%= name %>"></label>
                <input type="submit">
            </p>
        </form>
        <p>This page has been viewed <%= count %> times lately.</p>
    </body>
</html>
